@import "../../styles/main.css";

#news {
  display: grid;
  grid-template-columns: var(--container-grid);
  row-gap: var(--gap);

  > * {
    grid-column: 2;
  }

  padding-bottom: 2rem;
}

.title {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#filter-bar {
  font-size: unset;

  .form-group {
    user-select: none;

    .btn {
      background-color: oklch(from var(--primary) l calc(c * 0.1) h);
    }

    &:has(input:checked) {
      .btn {
        background-color: var(--primary);
      }
    }
  }

  input {
    display: none;
  }
}

.news-content {
  --min-col-size: 300px;

  display: grid;
  gap: var(--gap);
  align-items: stretch;

  grid-template-columns: repeat(
    auto-fill,
    minmax(min(var(--min-col-size), 100%), 1fr)
  );
}
