#news-container {
  --min-col-size: 300px;

  display: grid;
  gap: 1rem;
  align-items: stretch;

  grid-template-columns: repeat(
    auto-fit,
    minmax(min(var(--min-col-size), 100%), 1fr)
  );
}
