.btn {
  background-color: var(--primary);
  color: var(--primary-text);
  padding: var(--padding);
  border: none;
  border-radius: var(--border-radius);
  font-family: var(--font-family);
  font-size: var(--base-font-size);
  font-weight: 600;
  cursor: pointer;
  transition: var(--transition);

  &:hover {
    background-color: oklch(from var(--primary) calc(l + 0.1) c h);
  }

  &:active {
    background-color: oklch(from var(--primary) calc(l + 0.2) c h);
  }
}

.icon-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}
