@import "../../styles/main.css";
@import "../../../node_modules/maplibre-gl/dist/maplibre-gl.css";

#map {
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  height: calc(100vh - var(--header-height) - var(--footer-height));
}

.dojo-marker {
  width: 2rem;
  height: 2rem;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--accent);

  .icon {
    width: 2.5rem;
    height: 2.5rem;
  }

  cursor: pointer;
}

.dojo-popup {
  filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.5));
  border-radius: var(--border-radius);
  font-size: 0.75rem;
  font-weight: 700;
}
