@import "../../styles/main.css";
@import "../../../node_modules/maplibre-gl/dist/maplibre-gl.css";

#map {
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  height: calc(100vh - var(--header-height) - var(--footer-height));
}

.zoom-to-extent {
  border-radius: 4px;
  background-color: #fff;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 29px;
  outline: none;
  padding: 0;
  width: 29px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);

  .icon {
    width: 20px;
    height: 20px;
  }

  &:hover {
    background-color: #f2f2f2;
  }
}

.dojo-marker {
  width: 2rem;
  height: 2rem;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--accent);

  .icon {
    width: 2.5rem;
    height: 2.5rem;
  }

  cursor: pointer;
}

.dojo-popup {
  filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.5));
  border-radius: var(--border-radius);
  font-size: 0.75rem;
  font-weight: 700;
}

#dojo-dialog {
  border: none;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  overflow-y: hidden;
  transition-property: all;
  transition-duration: 350ms;
  transition-behavior: allow-discrete;
  flex-direction: column;
  opacity: 0;
  scale: 0.5;

  max-width: 30rem;
  max-height: 80vh;

  &::backdrop {
    opacity: 0;
    transition-property: all;
    transition-duration: 350ms;
    transition-behavior: allow-discrete;
  }

  &[open] {
    display: flex;
    opacity: 1;
    scale: 1;

    &::backdrop {
      opacity: 1;
    }

    @starting-style {
      opacity: 1;
      scale: 0.5;

      &::backdrop {
        opacity: 0;
      }
    }
  }

  .link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: unset;
    border-radius: var(--border-radius);

    &.disabled {
      pointer-events: none;

      .external {
        display: none;
      }
    }

    .placeholder {
      width: 2rem;
      height: 2rem;
      margin-right: 0.5rem;
    }

    .placeholder,
    .logo {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      display: none;
    }

    .placeholder {
      display: none;
      padding: 0.5rem;
      background-color: var(--primary);
      color: var(--primary-text);
    }

    &.show-svg .placeholder {
      display: block;
    }

    &.show-logo .logo {
      display: block;
    }

    &:not(.disabled):hover,
    &:not(.disabled):focus-visible {
      .name,
      .external {
        text-decoration: underline;
        color: #0000ee;
      }
    }
  }

  .name {
    font-size: 1.25rem;
    font-weight: 700;
  }

  .city {
    font-size: 1.25rem;
    font-style: italic;
    margin: 0.5rem 0;
  }

  .body {
    height: 100%;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    align-items: start;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem 0 0 0;
  }

  .description {
    > :first-child {
      margin-top: 0;
    }
    > :last-child {
      margin-bottom: 0;
    }
  }

  .close-btn {
    border: none;
    background-color: unset;
    &:hover,
    &:focus-visible {
      background-color: rgba(0, 0, 0, 0.1);
    }
    border-radius: 4px;
    outline: none;
    width: fit-content;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 576px) {
  #dojo-dialog {
    max-height: unset;
    max-width: unset;
    max-height: calc(100vh - var(--header-height) - var(--footer-height));
  }
}
