@import "../../styles/main.css";

#hero {
  height: fit-content;
  position: relative;

  .banner {
    width: 100%;
  }

  .hero-content {
    min-height: 20rem;
    display: grid;
    grid-template-columns: var(--container-grid);
    width: 100%;
    row-gap: calc(var(--gap) / 2);

    padding: 1rem 0;
    margin: auto;

    > * {
      grid-column: 2;
      align-self: center;
    }

    .title {
      margin: 0;
      font-size: 4rem;
      font-weight: 700;
      line-height: 5rem;
      color: var(--text-inverse);
      word-break: break-word;

      &:after {
        display: none;
      }
    }

    .button-group {
      display: flex;
      flex-wrap: wrap;
      gap: 1.25rem;
    }
  }
}

#info {
  display: grid;
  grid-template-columns: var(--container-grid);
  padding: var(--gap) 0;

  > * {
    grid-column: 2;
  }
}

.info-content {
  --min-col-size: 300px;

  display: grid;
  gap: var(--gap);

  grid-template-columns: repeat(
    auto-fit,
    minmax(min(var(--min-col-size), 100%), 1fr)
  );
}

.list-card {
  border-radius: var(--border-radius);
  filter: drop-shadow(var(--shadow));
  overflow: hidden;
  transition: all 350ms ease;
  background-color: var(--element-bg);
  padding: var(--padding);

  .title {
    margin: 0;
  }
}

.event-list {
  list-style: none;
  padding: 0;

  li {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    padding: 0.5rem 0;
    cursor: pointer;

    .icon {
      transition: var(--transition);
      width: 1.5rem;
      height: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;

      &::before {
        content: "🌸";
        transition: var(--transition);
        font-size: 1rem;
      }
    }

    &:hover,
    &:focus-visible {
      .icon {
        &::before {
          font-size: 1.5rem;
        }
      }
    }
  }
}
