:root {
  /* font */
  font-size: 16px;
  font-family:
    Verdana,
    Open Sans,
    Helvetica Neue,
    sans-serif;

  /* color */
  --primary: #f2a606;
  --secondary: #15605f;
  --element-bg: #fff;

  /* layout */
  --content-width: 960px;
  --content-grid: minmax(1rem, 1fr) minmax(auto, var(--content-width))
    minmax(1rem, 1fr);
  --container-width: 1200px;
  --container-grid: minmax(1rem, 1fr) minmax(auto, var(--container-width))
    minmax(1rem, 1fr);
  --padding: 0.75rem 1.25rem;
  --gap: 2rem;

  /* effect */
  --shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  --shadow-big: 4px 4px 10px rgba(0, 0, 0, 0.35);
  --border-radius: 0.5rem;
}

@media screen and (max-width: 900px) {
  :root {
    font-size: 14px;
    --gap: 1rem;
  }
}
