:root {
  /* font */
  --base-font-size: 16px;
  --font-family: "Inter", sans-serif, "Verdana", Open Sans, Helvetica Neue;
  font-size: var(--base-font-size);
  font-family: var(--font-family);
  color: var(--text);

  /* color */
  --primary: #f2a606;
  --primary-text: #22262a;
  --primary-hover: oklch(from var(--primary) l c h / 0.2);
  --accent: #15605f;
  --accent-text: #f1f2f4;
  --element-bg: #fff;
  --element-bg-dark: #22262a;
  --text: #22262a;
  --text-inverse: #f1f2f4;

  /* layout */
  --content-width: 960px;
  --content-grid: minmax(var(--gap), 1fr) minmax(auto, var(--content-width))
    minmax(var(--gap), 1fr);
  --container-width: 1400px;
  --container-grid: minmax(var(--gap), 1fr) minmax(auto, var(--container-width))
    minmax(var(--gap), 1fr);
  --padding: 0.75rem 1.25rem;
  --gap: 2rem;
  --header-height: 4rem;

  /* effect */
  --shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  --shadow-big: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.1);
  --shadow-primary: 0px 0px 1rem 0.5rem oklch(from var(--primary) l c h / 0.15);
  --border-radius: 0.5rem;
  --transition:
    background-color 150ms ease, box-shadow 150ms ease, filter 150ms ease,
    font-size 150ms ease, color 150ms ease;
}

@media screen and (max-width: 900px) {
  :root {
    font-size: 14px;
    --gap: 1rem;
  }
}
