@import "./_reset.css";
@import "./_variables.css";

main {
  display: grid;
  grid-template-columns: var(--content-grid);

  > * {
    grid-column: 2;
  }

  > .full-width {
    grid-column: 1 / -1;
  }
}

.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  fill: currentColor;
  vertical-align: middle;
}
