.card {
  border-radius: var(--border-radius);
  overflow: hidden;
  height: 100%;
  transition: var(--transition);
  background-color: var(--element-bg);
  position: relative;
  filter: drop-shadow(var(--shadow));

  &.is-past {
    opacity: 0.6;
    filter: grayscale(0.8), drop-shadow(var(--shadow-big));

    &::before {
      content: "Abgelaufen";
      position: absolute;
      top: 10px;
      right: 10px;
      background: rgba(0, 0, 0, 1);
      color: white;
      padding: 4px 8px;
      border-radius: 4px;
      font-size: 0.8rem;
    }
  }

  &:hover,
  &:focus-visible {
    filter: drop-shadow(var(--shadow-big));

    .fake-link::after {
      width: 100%;
    }
  }
}

.link {
  display: inline-flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  color: unset;
  text-decoration: none;
}

.card-content {
  flex-direction: column;
  display: flex;
  padding: var(--padding);
  gap: 0.5rem;
  flex: 1;
}

.image {
  width: 100%;
  min-width: 100%;
  height: 10rem;
  min-height: 10rem;
  object-fit: cover;
}

.title {
  font-size: 1.1rem;
  font-weight: 700;
}

.fake-link {
  margin-top: auto;
  color: var(--secondary, blue);
  font-weight: 700;
  transition: var(--transition);
  position: relative;
  width: fit-content;

  &::after {
    transition: var(--transition);
    content: "";
    display: block;
    position: relative;
    left: 0;
    width: 0;
    height: 0.175rem;
    background-color: var(--secondary);
  }
}
