/* Verstecke das Untermenü standardmäßig */
.child-menu {
  display: none;
}

/* Zeige es nur, wenn das li das open-Attribut hat */
.nav-item[open] > .child-menu {
  display: block;
}

.child-menu {
  position: absolute;
  top: 100%;
  left: 0;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
  position: relative;
  width: 100vw;
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.nav-item {
  background-color: #fff;
  padding: 1rem 1.5rem;
}
