@import "../button/button.css";

#nav-container {
  position: fixed;
  width: 100%;
  box-shadow: var(--shadow);
  z-index: 1000;
  background-color: var(--element-bg-dark);
  height: var(--header-height);
  display: grid;
  grid-template-columns: var(--container-grid);

  .wrapper {
    grid-column: 2;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    anchor-name: --nav-anchor;
  }
}

.logo {
  height: 2.5rem;
  transition: var(--transition);

  img {
    height: 100%;
    width: auto;
  }

  &:hover,
  &:focus-visible {
    filter: drop-shadow(0 0 4px var(--primary));
  }
}

#side-nav {
  z-index: 1100;
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 20rem;
  border-top: 3px solid var(--primary);
  position-anchor: --nav-anchor;
  position-area: span-left bottom;
  &::backdrop {
    background-color: oklch(from black l c h / 0.5);
  }

  @media (max-width: 768px) {
    min-width: 100vw;
  }

  *:focus {
    outline: none;
  }
  *:focus-visible {
    outline: 2px solid var(--primary);
    outline-offset: -2px;
  }
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
  background-color: var(--element-bg-dark);
  display: flex;
  flex-direction: column;
}

.nav-item {
  display: flex;
  background-color: var(--element-bg-dark);
  color: var(--text-color-inverse);
  border-bottom: 1px solid oklch(from var(--primary) l c h / 0.1);

  a,
  &.nav-item-back {
    padding: 1rem 1.5rem;
    flex: 1 1 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--text-color-inverse);
    cursor: pointer;

    text-decoration: none;
    transition: var(--transition);

    &:hover {
      background-color: var(--primary-hover);
    }
  }

  &.nav-item-back {
    gap: 1.5rem;
    background-color: var(--primary-hover);
    .icon {
      transform: rotate(180deg);
    }

    &:hover {
      background-color: oklch(from var(--primary-hover) calc(l - 0.15) c h);
    }
  }

  .menu-trigger {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.5rem;

    width: 2rem;
    cursor: pointer;

    transition: var(--transition);

    &:hover {
      background-color: var(--primary-hover);
      color: var(--text-color-inverse);
    }
  }
}
