#nav-container {
  box-shadow: var(--shadow);
  z-index: 1000;
  background-color: var(--element-bg-dark);
  height: 4rem;

  .wrapper {
    max-width: var(--container-width);
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
}

.logo {
  height: 3rem;
  aspect-ratio: 3/1;
  background-color: gray;
}

#side-nav {
  z-index: 1100;
  padding: 0;
  margin: 0;
  border: 0;
  top: 4rem;
  min-width: 20rem;
  border-top: 3px solid var(--primary);
  position-area: span-self-x-start;

  @media (max-width: 768px) {
    min-width: 100vw;
    position-area: right;
  }
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
  background-color: var(--element-bg-dark);
  display: flex;
  flex-direction: column;
}

.nav-item {
  display: flex;
  background-color: var(--element-bg-dark);
  color: var(--text-color-inverse);
  border-bottom: 1px solid oklch(from var(--primary) l c h / 0.1);

  a,
  &.nav-item-back {
    padding: 1rem 1.5rem;
    flex: 1 1 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--text-color-inverse);
    cursor: pointer;

    text-decoration: none;
    transition: var(--transition);

    &:hover,
    &:focus-visible {
      color: var(--primary);
    }
  }

  &.nav-item-back {
    background-color: oklch(from var(--primary) l c h / 0.1);
  }

  .menu-trigger {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.5rem;

    width: 2rem;
    cursor: pointer;

    transition: var(--transition);

    &:hover,
    &:focus-visible {
      color: var(--primary);
    }
  }
}
